[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '3.6'

[packages]
versioneer = "*"
attrs = "*"
numpy = "*"
{% if cookiecutter.cli_tool == "docopt" %}docopt = "*"{% elif cookiecutter.cli_tool == "click" %}click="*"{% endif %}

[dev-packages]
ipython = "*"
pytest = "*"
hypothesis = "*"
mypy = "*"
pylint = "*"
pycodestyle = "*"
pydocstyle = "*"
coverage = "*"
pytest-cov = "*"

